.container{
    padding:0;
    margin:0;
}

.row{
    margin-left: 12px;
}

.profile_lst{
    margin: 0;
    margin-top: 3%;
    text-align: left;
}

.profile_lst li{
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nanum Brush Script', cursive;
}


.language_lst{
    margin: 0;
    text-align: center;
    margin-top: 3%;
}

.language_lst li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.col{
    padding: 0px;
}

h1{
    font-weight: bold;
    font-family: cursive;
}

.history_span{
    font-size: 10px;
}

.history_lst{
    margin: 0;
    margin-top: 3%;
    text-align: left;
}

.history_lst li{
    margin: auto;
	padding-left: 20px;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: bold;
    font-size: 17px;
    list-style: none;
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 13px;
}